.detalle-producto {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #a7ee8c; 
    border-radius: 45px; 
    box-shadow: 0 8px 15px rgb(76, 235, 61); 
    text-align: center;
}

#imagen-producto {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.nombreflecha {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.botonRegresar {
    background-color: transparent;
    border: none;
}

#nombre-producto {
    font-size: 32px;
    margin-bottom: 10px;
    font-family: cursive;
}

#descripcion-producto {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
}

.precio-agregar {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

#precio-producto {
    font-size: 20px;
    font-weight: bold;
}

#agregar-carrito {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    transition: transform 0.2s;
}

#agregar-carrito:hover {
    transform: scale(1.1);
}
